* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.searchbox{
  width: 40vw;
}
.row{
  overflow-x:hidden;
}
.secondcol{
  width: inherit;
}

.card{
  margin-top:15px;
  margin-bottom:15px;

}

.buttongroup{
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 10px;
}

.cart{
  height: 40px;
  width: 40px;
}

.signinbutton{
  height: 40px;
  width:100px
}
.containerbox{
  overflow: hidden;
  padding: 3px;
  display: inline;
  border-radius: 5px;
  width: 50vw;
  background-color: gold
  
}

.banner{
  margin-top:25px;
  height: 40%;
  width: 80%;
  border-radius: 5px;
  border: 1px solid skyblue;
  
}

.images{
  height: 200px ;
  width: 450px;
}

/* .cardfeature{
  width: 200px;
  height: 200px;
} */

#muesli{
  /* height:200px;
  width: 250px; */
  height: 90%;
  width: 90%;
}

.cardgroup{
  /* height:250px;
  width: 350px; */
  height: 90%;
  width: 90%;
  

  border-radius: 10px;
  
  border: 2px solid skyblue;

}

.cardgroup:hover{
  transform: translate3d(0px, 5px ,50px);
}

/* .description{
  opacity: 0;
}
.description:hover{
  opacity: 1;
} */
.features{
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 10px;
  margin-bottom:10px;
}



.medical{
  background-color: blue;
  padding: 10px;
  margin-left: 0px;
  color: white;
  border-radius: 5px;
}

.medical-container {
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 10px;
  margin-bottom:10px;
}

.seemore1{
  color: azure;
  cursor:default;
  margin-top: 5px;
  margin-bottom: 5px;
}
.seemore2{
  color: azure !important;
  background-color: rgb(117, 189, 236) !important;
  border: none;
  cursor:default;
  margin-top: 5px;
  margin-bottom: 5px;
}


.footer{
  background-color:rgb(224, 196, 143);
}

.footerpara{
  /* margin-left: 20px; */
  text-align: center;
  align-items: center;
  font-size: 25px;
  flex-direction: row;
}

.icons{
  margin-left:40px;
  margin-right:10px;
  color: pink
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
